body {
  margin: 20px;
}

#score,
#rank {
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  margin: 8px 0;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
